.Monday {
  width: 100%;
  height: 5rem;
  background-color: lightblue;
}

.Monday > header {
  padding: 0.5rem;
  background-color: #37BDCA;
}

.Monday > header > #h3_day_date {
  width: 20%;
  margin: 0 auto;
}

.Monday > ol > li > button {
  float: right;
  margin-right: 0.5rem;
  border: 0.1rem solid blue;
  background-color: #37BDCA;
}

.Monday > #itemTitle {
  width: 20rem;
  height: 2rem;
  border: 0.1rem solid #37BDCA;
  margin: 0.2rem;
  margin-left: 1rem;
}

.Monday > #itemAmount {
  width: 13rem;
  height: 2rem;
  border: 0.1rem solid #37BDCA;
  margin-right: 10rem;
  margin-left: 1rem;
}

.Monday > #addButton {
  float: right;
  border: 0.1rem solid blue;
  background-color: #37BDCA;
  margin: 0.3rem;
  height: 2rem;
}

.Monday > #itemNameLabel {
  margin-left: 0.2rem;
}

.Monday > #itemAmountLabel {
  margin-left: 5rem;
}

