.Day {
  width: 100%;
  height: 5rem;
  background-color: lightblue;
}

.Day > header {
  padding: 0.5rem;
  background-color: #37BDCA;
}

.Day > header > #h3_day_date {
  width: 20%;
  margin: 0 auto;
}

.Day > #itemTitle {
  width: 20rem;
  height: 2rem;
  border: 0.1rem solid #37BDCA;
  margin: 0.2rem;
  margin-left: 0.2rem;
}

.Day > #itemAmount {
  width: 13rem;
  height: 2rem;
  border: 0.1rem solid #37BDCA;
  margin-right: 10rem;
  margin-left: 0.2rem;
}

.Day > #addButton {
  float: right;
  border: 0.1rem solid blue;
  background-color: #37BDCA;
  margin: 0.3rem;
  height: 2rem;
}

.Day > #itemNameLabel {
  margin-left: 0.2rem;
}

.Day > #itemAmountLabel {
  margin-left: 5rem;
}
/*
.Day > #h3_day_date {
  float: left;
}
*/
.Day > header > #daily_total {
  float: left;
  font-size: 1.2rem;
}

