li {
  list-style: none;
  margin: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapInOneLi {
  padding: 0.5rem;
}

.Monday,.Tuesday, .Wednasday, .Thursday, .Friday, .Saturday, .Sunday {
  float: right;
  border: 0.1rem solid blue;
  background-color: lightblue;
  margin: 0 0.1rem;
  height: 1.3rem;
  line-height: 0.8;
}

.Tuesday {
  border: 0.1rem solid hotpink;
  background-color: #F9D7DC;
}

.Wednasday {
  border: 0.1rem solid green;
  background-color: #DDF5DD;
}

.Thursday {
  border: 0.1rem solid gray;
  background-color: #F7F3F3;
}

.Friday {
  border: 0.1rem solid #FCAA07;
  background-color: #F7E6C4;
}

.Saturday {
  border: 0.1rem solid #871BF0;
  background-color: #DCC5F2;
}

.Sunday {
  border: 0.1rem solid #F7512C;
  background-color: #F6C9BF;
}

#pencilEdit, #deleteIcon {
  font-size: 20px;
}


