.Monday {
  height: 10rem;
  width: 100%;
  margin: 0 auto;
  background-color: lightblue;
  border: 0.1rem solid black;
}

#week_total_header {
  width: 100%;
  float: left;
  border: 0.1rem solid black;
}

#h3_addButton {
  position: relative;
  float: left;
  padding-left: 1rem;
}

#h3_monday_date {
  position: relative;
  width: 20%;
  margin: 0 auto;
  padding-right: 1rem;
}
